name: Deploy Dice Frontend

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Initialize Known Hosts
        run: |
          mkdir -p ~/.ssh
          touch ~/.ssh/known_hosts
          ssh-keyscan ${{ secrets.VM_HOST }} >> ~/.ssh/known_hosts
      - name: Set Permissions for Private Key
        run: |
          echo "${{ secrets.SSH_KEY }}" > $HOME/key.pem
          chmod 400 $HOME/key.pem
      - name: Copy files to VM And Run Application
        run: |
          ssh -i $HOME/key.pem dice@${{ secrets.VM_HOST }} "rm -rf ~/apps/*"
          rsync -av -e "ssh -i $HOME/key.pem" --exclude='node_modules' ./apps/core-server/ dice@${{ secrets.VM_HOST }}:~/apps/core-server/
          ssh -i $HOME/key.pem dice@${{ secrets.VM_HOST }} "sh restart.sh core"
          rsync -av -e "ssh -i $HOME/key.pem" --exclude='node_modules' ./apps/auth-server/ dice@${{ secrets.VM_HOST }}:~/apps/auth-server/
          ssh -i $HOME.key.pem dice@${{ secrets.VM_HOST }} "sh restart.sh auth"
          rsync -av -e "ssh -i $HOME.key.pem" --exclude='node_modules' ./apps/log-server/ dice@${{ secrets.VM_HOST }}:~/apps/log-server/
          ssh -i $HOME.key.pem dice@${{ secrets.VM_HOST }} "sh restart.sh log"
          rsync -av -e "ssh -i $HOME.key.pem" --exclude='node_modules' ./apps/push-server/ dice@${{ secrets.VM_HOST }}:~/apps/push-server/
          ssh -i $HOME.key.pem dice@${{ secrets.VM_HOST }} "sh restart.sh push"
          rsync -av -e "ssh -i $HOME.key.pem" --exclude='node_modules' ./apps/admin-server/ dice@${{ secrets.VM_HOST }}:~/apps/admin-server/
          ssh -i $HOME.key.pem dice@${{ secrets.VM_HOST }} "sh restart.sh admin"
          rsync -av -e "ssh -i $HOME.key.pem" --exclude='node_modules' ./apps/file-server/ dice@${{ secrets.VM_HOST }}:~/apps/file-server/
          ssh -i $HOME.key.pem dice@${{ secrets.VM_HOST }} "sh restart.sh file"
          ssh -i $HOME.key.pem dice@${{ secrets.VM_HOST }} "sh restart.sh nginx"
          sleep 5
          curl --location "https://api.hi-dice.com/api/slack/v1/slack" --header "Content-Type:application/json" --data '{"name":"BACKEND:ALL","code":"MAS","message":"BACKEND:ALL 배포가 완료되었습니다."}'
